{
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParameters": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "restParams": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true
    }
  },
  "plugins": [
    "node",
    "promise",
    "ava",
    "no-loops",
    "unicorn"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:ava/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "no-loops/no-loops": 2,

    "node/no-unpublished-require": 0,

    "promise/always-return": "error",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "promise/no-nesting": "warn",
    "promise/no-promise-in-callback": "warn",
    "promise/no-callback-in-promise": "warn",
    "promise/avoid-new": "warn",
    "promise/no-return-in-finally": "warn",

    "unicorn/catch-error-name": ["error", {"name": "err"}],
    "unicorn/explicit-length-check": "error",
    "unicorn/filename-case": ["error", {"case": "kebabCase"}],
    "unicorn/no-abusive-eslint-disable": "error",
    "unicorn/throw-new-error": "error",
    "unicorn/number-literal-case": "error",
    "unicorn/escape-case": "error",
    "unicorn/no-array-instanceof": "error",
    "unicorn/no-new-buffer": "error",
    "unicorn/no-hex-escape": "error",
    "unicorn/custom-error-definition": "error",
    "unicorn/prefer-starts-ends-with": "error",
    "unicorn/prefer-type-error": "error",
    "unicorn/no-process-exit": 0,

    "arrow-parens": 0,
    "consistent-return": 0,
    "generator-star-spacing": 0,
    "babel/object-curly-spacing": 0,
    "arrow-spacing": [1,{ "before": true, "after": true }],
    "block-spacing": [1, "always"],
    "comma-dangle": [1, "never"],
    "computed-property-spacing": [1, "never"],
    "dot-notation": [1, {"allowPattern": "^[a-z]+(_[a-z]+)+$"}],
    "eol-last": 0,
    "eqeqeq": [1, "smart"],
    "func-style": [1, "declaration", { "allowArrowFunctions": true }],
    "indent": [1, 2, { "SwitchCase": 1 }],
    "newline-per-chained-call": 0,
    "no-class-assign": 1,
    "no-console": 0,
    "no-const-assign": 1,
    "no-continue": 0,
    "no-eval": 1,
    "no-extra-semi": 1,
    "no-irregular-whitespace": 1,
    "no-lonely-if": 1,
    "no-mixed-requires": 0,
    "no-new-symbol": 1,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-process-exit": 0,
    "no-redeclare": 1,
    "no-throw-literal": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "no-use-before-define":[1,"nofunc"],
    "no-useless-concat": 1,
    "no-var": 1,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "object-curly-spacing": [1, "always"],
    "padded-blocks": 0,
    "prefer-const": 1,
    "import/prefer-default-export": 0,
    "quotes": [1, "single", { "allowTemplateLiterals": true }],
    "semi": [1, "always"],
    "space-before-blocks":[1,"always"],
    "space-before-function-paren": 0,
    "use-isnan": 1,
    "valid-typeof": 1
  }
}
